<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Server Status</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <h2>Side panel</h2>
            <!-- Add sidebar content here -->
        </div>

        <!-- Main content -->
        <div class="main-content">
            <!-- Server card for BuildCraft -->
            <div class="server-card">
                <h3>BuildCraft</h3>
                <p>IP:
                    <span class="ip-box" id="mc1.averyfisher.com" onclick="copyToClipboard('mc1.averyfisher.com')">mc1.averyfisher.com</span>
                </p>
                <div class="links">
                    <a href="#">Dynmap</a>
                    <a href="#">Seedmap</a>
                    <a href="/changelog_buildcraft">Changelog</a> <!-- Link to BuildCraft's changelog -->
                    <a href="#">Permissions</a>
                </div>
            </div>

            <!-- Server card for Server2 -->
            <div class="server-card">
                <h3>Server2</h3>
                <p>IP:
                    <span class="ip-box" id="ip-address2" onclick="copyToClipboard('ip-address2')">xxx.xxx.xxx.xxx</span>
                </p>
                <div class="links">
                    <a href="#">Dynmap</a>
                    <a href="#">Seedmap</a>
                    <a href="#">Changelog</a>
                    <a href="#">Permissions</a>
                </div>
            </div>

            <!-- Server card for Server3 -->
            <div class="server-card">
                <h3>Server3</h3>
                <p>IP:
                    <span class="ip-box" id="ip-address3" onclick="copyToClipboard('ip-address3')">xxx.xxx.xxx.xxx</span>
                </p>
                <div class="links">
                    <a href="#">Dynmap</a>
                    <a href="#">Seedmap</a>
                    <a href="#">Changelog</a>
                    <a href="#">Permissions</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function copyToClipboard(id) {
            var copyText = document.getElementById(id).textContent;
            navigator.clipboard.writeText(copyText).then(function() {
                alert('Copied to clipboard: ' + copyText);
            }, function(err) {
                console.error('Async: Could not copy text: ', err);
            });
        }
    </script>
</body>
</html>
